nav[class="menu"]{
  position: fixed;
  background-color:rgba(0, 0, 0, 1);
  top: 0;
  z-index: 2;
  padding: 0px 70.10px;
    margin-left: -8px;
  width: 100%;
}
nav[class="menu"] ul {
  list-style: none;
  font-size: 1em;
  margin-bottom: 0em;
  margin-left: 11em;
 }
nav[class="menu"] li {
  line-height: 4rem;

  position: relative;
}
nav[class="menu"] ul{
  display: inline-flex;
}
nav[class="menu"] li ul{
  position: absolute;
  display: inline-flex;
}

nav[class="menu"] a{
  text-decoration: none;
  display: flex;
  padding: 0 2.6em;
  color: white;
  transition: background 0.4s;
}

nav[class="menu"] a:hover {
  color: gold;
  border-bottom: solid 2px white;
  line-height: 3.9rem;
}
body{
  background-image: url(../img/fondoi.jpg);
  width: 100%;
  background-size: 100%;
}